<h2>Bloco destacado</h2>

<form>
    <!-- Campos:
         - título
         - texto
         - checkbox imagem ou ícone ou nenhum elemento grafico
         - conforme checkbox, campo para adicionar link da imagem ou select com alguns ícones material ou bootstrap -->

    <div class="form-group">
        <label for="blockTitle">Título</label>
        <input type="text" id="blockTitle" class="form-control" ng-model="blockTitle" value="Título">
    </div>
    <div class="form-group">
        <label for="blockText" required>Texto</label>
        <textarea id="blockText" class="form-control" ng-model="blockText"></textarea>
    </div>
    <div class="form-group" ng-show="blockStyle == false">
        <label for="blockImage">Elemento adicional</label>
        <select id="blockImage" class="form-control" ng-model="blockImage" ng-init="blockImage='1'">
            <option value="1">Sem elemento gráfico</option>
            <option value="2">Com imagem</option>
            <option value="3">Com ícone do material (se o curso tiver incorporado)</option>
        </select>
        <p ng-if="blockImage == '2'">
            <small class="text-muted">Ajuste o link da imagem de acordo com o caminho no projeto.</small>
        </p>
        <p ng-if="blockImage == '3'">
            <small class="text-muted">Ajuste o modelo de ícone de acordo com o conteúdo.</small>
        </p>
    </div>

    <div class="form-group">
        <input type="checkbox" id="blockStyle" ng-model="blockStyle" ng-init="blockStyle=false" name="blockStyle">
        <label for="blockStyle">Selecione essa opção caso o tema do curso tenha um segundo estilo de bloco e queria utilizá-lo. </label>
        <p class="text-muted"><small>*Esse estilo de bloco costuma ser mais simples, sem ícone e sem imagem. Se necessário pode adicionar depois no seu conteúdo.</small></p>
    </div>
</form>

<!-- GENERATED -->
<div class="generated" ng-class="{'previewing': preview}">
    <div class="generated-code">
        <p><strong>Código html</strong></p>
        <p>
            <small>Copie o código abaixo e cole no lugar correspondente no curso.</small>
        </p>

        <div class="code-container">
            <div class="code-line">&lt;div class="sr-only"&gt;Conteúdo dentro de um bloco em destaque&lt;/div&gt;</div>
            <div class="code-line" ng-if="blockStyle == false">&lt;div class="main-box"&gt;</div>
            <div class="code-line" ng-if="blockStyle == true">&lt;div class="main-box main-box-2"&gt;</div>
                <ng-container ng-if="blockImage == '2' && blockStyle == false">
                    <div class="code-line child-line">&lt;div class="main-box__icon"&gt;</div>
                        <div class="code-line child-line child-2">&lt;img src="images/img-icone.jpg" alt=""&gt;</div>
                    <div class="code-line child-line">&lt;/div&gt;</div>
                </ng-container>

                <ng-container ng-if="blockImage == '3' && blockStyle == false">
                    <div class="code-line child-line">&lt;div class="main-box__icon"&gt;</div>
                        <div class="code-line child-line child-2">&lt;i class="material-icons" aria-hidden="true"&gt;message&lt;/i&gt;</div>
                    <div class="code-line child-line">&lt;/div&gt;</div>
                </ng-container>

                <ng-container ng-if="blockTitle && blockStyle == true">
                    <div class="code-line child-line">&lt;h4 class="main-box__title"&gt;{{blockTitle}}&lt;/h4&gt;</div>
                </ng-container>

                <div class="code-line child-line">&lt;div class="main-box__content"&gt;</div>
                    <div class="code-line child-line child-2" ng-if="blockTitle && blockStyle == false">&lt;h4&gt;{{blockTitle}}&lt;/h4&gt;</div>
                    <div class="code-line child-line child-2">&lt;p&gt;{{blockText}}&lt;/p&gt;</div>
                <div class="code-line child-line">&lt;/div&gt;</div>
            <div class="code-line">&lt;/div&gt;</div>
        </div>
    </div>
    <div class="preview-bar">
        <p class="preview-bar__title" ng-if="preview">Construtor de elementos <small>(gerador de html)</small></p>
        <button ng-click="preview = !preview" class="btn btn-preview">
            <span ng-if="!preview">Preview</span>
            <i class="material-icons" ng-if="preview">close</i>
        </button>
    </div>
    <div class="generated-preview" ng-if="preview">
        <div class="container">
            <div class="sr-only">Conteúdo dentro de um bloco em destaque</div>
            <div class="main-box" ng-class="{'main-box-2': blockStyle == true}">
                <div class="main-box__icon" ng-if="blockImage == '2' && blockStyle == false">
                    <img src="images/img-icone.jpg" alt="">
                </div>

                <div class="main-box__icon" ng-if="blockImage == '3' && blockStyle == false">
                    <i class="material-icons" aria-hidden="true">message</i>
                </div>

                <h4 class="main-box__title" ng-if="blockTitle && blockStyle == true">{{blockTitle}}</h4>

                <div class="main-box__content">
                    <h4 ng-if="blockTitle && blockStyle == false">{{blockTitle}}</h4>

                    <p>{{blockText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>