// Variáveis do Sass para troca de cores formas do css
$cor-primaria: #6582ff;
$cor-secundaria: #fedf2e;
$cor-terciaria: #000;
$cor-quaternaria: #ef762b;

$cor-neutra: #eee;

$cor-destaque: #3279ff;

$feedback-bg:#fff7ce;
$feedback-color:$text-color;

$main-header-bg:#f9f9f9;

@mixin efeito-transicao {
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}

@mixin efeito-escala {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

@mixin efeito-rotacao {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

@mixin efeito-rotacao-nao {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}



@mixin display-flex(){
  display:-webkit-flex;
  display:flex;
}

@mixin flex(){
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}

@mixin flex-wrap(){
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
}

@mixin order($order){
  -webkit-order: $order;
  order: $order;
}

@mixin align-items($align){
  -webkit-align-items: $align; /* Safari 7.0+ */
  align-items: $align;
}

@mixin justify-content($justify){
  -webkit-justify-content: $justify; /* Safari 7.0+ */
  justify-content: $justify;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform; // IE9 only
  transform: $transform;
}

@mixin transform-origin($transform-origin) {
  -webkit-transform-origin: $transform-origin;
  -moz-transform-origin: $transform-origin;
  -ms-transform-origin: $transform-origin; // IE9 only
  transform-origin: $transform-origin;
}

@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius; // IE9 only
  border-radius: $border-radius;
}

@mixin keyframes( $animationName )
{
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($delay){
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  animation-delay: $delay;
}

@mixin transition( $transition1){
  -webkit-transition: $transition1;
  -moz-transition: $transition1;
  -ms-transition: $transition1; // IE9 only
  transition: $transition1;
}

@mixin transition2( $transition1, $transition2){
  -webkit-transition: $transition1, $transition2;
  -moz-transition: $transition1, $transition2;
  -ms-transition: $transition1, $transition2; // IE9 only
  transition: $transition1, $transition2;
}

@mixin box-shadow2( $shadow1, $shadow2){
  -webkit-box-shadow:$shadow1, $shadow2;
  -moz-box-shadow:$shadow1, $shadow2;
  box-shadow:$shadow1, $shadow2;
}
