@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,700&display=swap');

@import "bootstrap";
@import "custom_variables";
@import "material-icons";

body {
  color: $text-color;
  font-family: $font-family-base, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background:$body-bg;
  line-height: $line-height-base;
}

video, img, iframe{  
  max-width: 100%;
}

.d-flex{
  display: flex;
}

.flex-fill{
  flex:1;
}

.flex-wrap{
  flex-wrap:wrap;
}

.align-items-center{
  align-items: center;
}

.justify-content-center{
  justify-content: center;
}

hr{
  border-color:rgba(0,0,0,.15);
}

.m-auto {
  margin: auto !important; }

.m-10 {
  margin: 10px !important; }

.m-top-20 {
  margin-top: 20px !important; }

.m-top-10 {
  margin-top: 10px !important; }

.m-top-5 {
  margin-top: 5px !important; }

.m-top-0 {
  margin-top: 0 !important; }

.m-bottom-20 {
  margin-bottom: 20px !important; }

.m-bottom-10 {
  margin-bottom: 10px !important; }

.m-bottom-5 {
  margin-bottom: 5px !important; }

.m-bottom-0 {
  margin-bottom: 0 !important; }

.m-right-20 {
  margin-right: 20px !important; }

.m-right-10 {
  margin-right: 10px !important; }

.m-right-5 {
  margin-right: 5px !important; }

.m-right-0 {
  margin-right: 0 !important; }

.m-left-20 {
  margin-left: 20px !important; }

.m-left-10 {
  margin-left: 10px !important; }

.m-left-5 {
  margin-left: 5px !important; }

.m-left-0 {
  margin-left: 0 !important; }

.p-0 {
  padding: 0 !important; }

.p-bottom-0 {
  padding-bottom: 0 !important; }

.main-header{
  padding:16px;
  background: #333;
  color:#fff;
  height: 50px;

  h1{
    font-size: 1.8rem;
    margin: 0;

    small{
      color:#fff;
      opacity: 0.7;
    }
  }
}

label[required]:before{
  content:'*';
}

.header-content__container{
  @include display-flex();
  @include flex-flow(column);
  height: 100vh;
}

.nav-content__container{
  @include display-flex();
  @include flex();
  height: calc(100vh - 50px);
}

.main-nav{
  width:300px;
  max-width: 100%;
  border-right:1px solid rgba(0,0,0,.2);
  overflow: auto;

  ul{
    list-style: none;
    margin:0;
    padding: 0;

    p, a{
      display: block;
    }

    a{
      @include transition(all 0.2s ease-out);
      padding: 10px 24px;

      &.active{
        border-left: 5px solid darken($brand-primary,8%);
      }
    }

    p{
      text-transform: uppercase;
      border-bottom:1px solid rgba(0,0,0,.2);
      margin: 0;
      font-size: 1.2rem;
      padding: 10px 16px;
    }

    a:hover{
      text-decoration: none;
      background: $brand-primary;
      color:#fff;
    }
  }
}

.main-content{
  background: #f7f7f7;
  @include flex();
  overflow: auto;
  padding:20px;
}

.generated-preview{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 54px);
  background: white;
  padding-top: 30px;
  overflow: auto;
  margin-top: 54px;
}

.previewing{
  .btn-preview{
    position: fixed;
    z-index:1;
    top:0;
    right:0;
    background:none !important;
    box-shadow:none !important;
    border-radius:0 !important;
    border:none !important;
    color:#fff !important;
    padding: 0 !important;
    margin: 10px !important;
    width: 36px !important;
    height: 36px !important;
    min-height: 0 !important;

    &, i{
      font-size: 20px !important;
    }

    &:after, &:before{
      display: none !important;
    }

    &:hover{
      background: rgba(255,255,255,.05);
    }
  }

  .preview-bar{
    background: #333;
    color:#fff;
    padding: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .preview-bar__title{
      font-size: 1.6rem !important;
      margin: 0 !important;
      padding:0 !important;
      font-family: $font-family-base !important;
      line-height: 1.4 !important;
      font-weight: 400;

      small{
        color: #fff;
        opacity: 0.7;
      }
    }
  }
}

.code-container{
  border:1px solid rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  border-radius: 4px;
  background: rgba(0,0,0,.05);
  padding:12px 18px;
  margin: 10px 0;

  .code-line{
    display: block;

    &.child-line{
      text-indent: 24px;

      &.child-2{
        text-indent: 48px;
      }

      &.child-3{
        text-indent: 72px;
      }

      &.child-4{
        text-indent: 96px;
      }

      &.child-5{
        text-indent: 120px;
      }

      &.child-6{
        text-indent: 148px;
      }

      &.child-7{
        text-indent: 172px;
      }

      &.child-8{
        text-indent: 196px;
      }

      &.child-9{
        text-indent: 210px;
      }

      &.child-10{
        text-indent: 234px;
      }
    }
  }
}

.btn-primary, .btn-default{
  &.btn.btn-ico{
    padding: 6px 6px;
    text-align: center;
    margin: 2px;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    justify-content: center;

    i{
      font-size: 20px;
      line-height: 18px;
    }
  }
}

form .list-group-item{
  padding: 4px 4px 4px 16px;
}

input[type="file"].custom-input-file{
  display: none;

  + label{
    display: block;
    border: 2px solid;
    text-align: center;
    width: 100%;
    padding: 6px 16px;
    border-radius: 5px;
    margin: 8px 0;
    cursor: pointer;
    transition:all 0.2s ease-out;

    &:hover{
      background: rgba(0,0,0,.1);
    }
  }
}

.interactive-image-model {
  display: inline-block;
  position: relative;
  margin: 20px auto;

  .interactive-image__btn{
    position: absolute;
    left:50%;
    top:50%;
    @include border-radius(50px);
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include transition(all 0.2s ease-out);
    @include transform(translate(-50%, -50%));
    width: 30px;
    height: 30px;
    opacity: 0.85;
    padding: 0 !important;
    box-shadow: 0 1px 5px rgba(0,0,0,.6);
    background: rgba(255,255,255,.7);
    border:2px solid $brand-primary;
    color:$brand-primary;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);

    &:hover{
      z-index: 1;
    }

    &:after{
      content: attr(data-btn);
      background: $brand-primary;
      position: absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      color: #fff;
      width: 17px;
      height: 17px;
      text-align: center;
      line-height: 18px;
      font-size: 9px;
      text-shadow: none;
      display: inline-block;
      border-radius: 30px;
    }
  }

  .btn.btn-move{
    position: absolute;

    &.move-top{
      top:-17px;
    }

    &.move-bottom{
      bottom:-17px;
    }

    &.move-left{
      left:-17px;
    }

    &.move-right{
      right:-17px;
    }
  }
}

.btn.btn-move{
  width: 18px;
  height: 18px;
  background: rgba(0,0,0,.5);
  color: #fff;
  line-height: 16px;
  padding: 0;
  text-align: center;

  i{
    font-size: 16px;
    line-height: 16px;
  }
}

// Preview adjusts
.modal-backdrop{
  display: none;
}

.previewing{
  .modal{
    top:60px;
  }
}